/* PAGE GENERICS */
/* These apply generally across the playground */

:root {
  --oak-black: #222222;
  --oak-white: #ffffff;
  --link-active: #0d24c4;
  --pink-30: #f5e9f2;
  --pink: #deb7d5;
  --lavender: #a0b6f2;
  --lavender-30: #e3e9fb;
  --mint-30: #ebfbeb;
  --mint: #bef2bd;
  --grey-10: #f9f9f9;
  --grey-20: #f2f2f2;
}

div.swagger-ui,
.swagger-ui label {
  font-family: 'Lexend', sans-serif;
}

.swagger-ui .btn {
  font-family: 'Lexend', sans-serif;
  background-color: var(--oak-black);
  border-color: var(--oak-black);
  color: white;
  box-shadow: none;
  font-size: 16px;
  font-weight: 400;
}

/* HEADER */

/* Top level title */
.swagger-ui .info .title {
  font-family: 'Lexend', sans-serif;
  font-size: 56px;
  font-weight: bold;
  color: var(--oak-black);
}

/* Header links */
.swagger-ui .info hgroup.main a {
  font-family: 'Lexend', sans-serif;
  font-size: 16px;
  font-weight: light;
  color: var(--link-active);
}

.swagger-ui .info a {
  font-family: 'Lexend', sans-serif;
  font-size: 16px;
  font-weight: light;
  color: var(--link-active);
}

/* Servers dropdown component */
.swagger-ui .servers-title {
  font-family: 'Lexend', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: var(--oak-black);
}

.swagger-ui select {
  background-color: var(--oak-white);
  border-color: var(--oak-black);
  border-width: 2px;
  border-radius: 4px;
  box-shadow: none;
  padding: 12px 16px 12px;
}

.swagger-ui .servers > label select {
  font-family: 'Lexend', sans-serif;
  font-size: 16px;
  font-weight: lighter;
  color: var(--oak-black);
  padding: 12px 16px 12px;
  background-color: var(--oak-white);
  max-width: 100%;
  min-width: 130px;
  width: 100%;
}

/* Authorize button */
.swagger-ui .scheme-container .schemes .auth-wrapper .authorize {
  font-family: 'Lexend', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: var(--oak-black);
  padding: 12px 16px 12px;
  border-color: var(--oak-black);
}

.swagger-ui .btn.authorize svg {
  fill: white;
}

.swagger-ui .auth-btn-wrapper .btn-done {
  margin-left: 12px;
}

/* Version tags */

.swagger-ui .info .title small pre {
  font-family: 'Lexend', sans-serif;
  font-size: 16px;
  color: var(--oak-black);
  border-radius: 4px;
  font-weight: 600;
  background-color: var(--pink-30);
  border-width: 2px;
  padding: 4px;
  border-width: 2px;
  border-color: var(--lavender);
}

.swagger-ui .info .title small.version-stamp pre {
  background-color: var(--lavender-30);
  border-color: var(--pink);
}

.swagger-ui .info .title small {
  padding: 0px;
}

/* DOCS */

/* Section headers */
.swagger-ui .opblock-tag {
  font-family: 'Lexend', sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: var(--oak-black);
}

/* Accordion */
.swagger-ui .opblock.opblock-get .opblock-summary {
  color: var(--oak-black);
  background: var(--mint-30);
  border-color: var(--mint);
  border-bottom-color: var(--mint);
  border-radius: 2px;
  box-shadow: none;
}

.swagger-ui .opblock .opblock-summary-path,
.swagger-ui .opblock .opblock-summary-method {
  font-family: 'Lexend', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: var(--oak-black);
}

/* GET tag */
.swagger-ui .opblock.opblock-get {
  background: var(--mint-30);
  border-color: var(--mint);
  border-radius: 2px;
  box-shadow: none;
  margin-bottom: 12px;
}

.swagger-ui .opblock.opblock-get .opblock-summary-method {
  background: var(--mint);
}

/* Auth & copy icons */
.swagger-ui .opblock .opblock-summary .view-line-link.copy-to-clipboard svg,
.swagger-ui .authorization__btn .unlocked {
  fill: var(--oak-black);
  opacity: 1;
}

.swagger-ui .copy-to-clipboard {
  background: var(--oak-black);
  color: var(--mint);
}

/* ACCORDION */

/* Section headers */
.swagger-ui section.models h4 {
  font-family: 'Lexend', sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: var(--oak-black);
}

.swagger-ui .model-title {
  font-family: 'Lexend', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: var(--oak-black);
}

.swagger-ui .model {
  font-size: 14px;
  line-height: 1.3;
}

/* Accordion spacing */
.swagger-ui section.models .model-container {
  background-color: var(--grey-20);
  border-radius: 4px;
  margin-bottom: 12px;
}

/* OPEN ACCORDION */

.swagger-ui .opblock.opblock-get {
  border-width: 2px;
  border-radius: 2px;
}

.swagger-ui .opblock-body {
  background-color: var(--grey-10);
}

/* Parameter section  */

.swagger-ui .parameter__name.required span,
.swagger-ui .parameter__name.required:after {
  font-family: 'Lexend', sans-serif;
  color: var(--oak-black);
  font-weight: 400;
}

.swagger-ui .parameters-col_description select,
.swagger-ui .parameters-col_description input,
.swagger-ui .parameters-col_description input &:focus,
.swagger-ui .parameters-col_description select &:focus {
  border-width: 2px;
  border-color: var(--oak-black);
  border-radius: 4px;
  outline-color: var(--oak-black);
}

.swagger-ui .opblock.opblock-get .tab-header .tab-item.active h4 span:after {
  background: var(--oak-black);
}

.swagger-ui .btn.execute {
  background-color: var(--oak-black);
  border-color: var(--oak-black);
}

/* Annoyingly we have to override the font-family a lot because, Swagger */

/* Section titles */
.swagger-ui .parameter__name,
.swagger-ui .opblock-description-wrapper p,
/* Sub-header for responses */
.swagger-ui .response-control-media-type__title,
/* Tab title */
.swagger-ui .tab li button.tablinks,
/* open accordion - responses */
.swagger-ui .responses-inner h4,
.swagger-ui .opblock .opblock-section-header h4,
.swagger-ui .responses-inner h4,
.swagger-ui .responses-inner h5 {
  font-family: 'Lexend', sans-serif;
}

/* Docs section */
.swagger-ui .parameters-col_description,
.swagger-ui table thead tr td,
.swagger-ui .response-col_links,
.swagger-ui .response-col_status {
  font-family: 'Lexend', sans-serif;
  font-size: 16px;
}

/* Default section - select styling */
.swagger-ui select {
  font-family: 'Lexend', sans-serif;
  font-weight: 400;
}

.swagger-ui .response-control-media-type--accept-controller select {
  color: var(--oak-black);
  border-color: var(--oak-black);
  border-radius: 4px;
  border-width: 2px;
  padding: 12px 16px 12px;
}

/* Cancel button */
.swagger-ui .btn.cancel {
  font-family: 'Lexend', sans-serif;
  box-shadow: none;
}

/* Spacing between main divs */

.swagger-ui .no-margin {
  margin-bottom: 48px;
}

/* Authorisation modal */

.swagger-ui .dialog-ux .modal-ux-content h4,
.swagger-ui .dialog-ux .modal-ux-header h3,
.swagger-ui .auth-container input[type='text'] {
  font-family: 'Lexend', sans-serif;
}

.swagger-ui
  .scheme-container
  .schemes
  .auth-wrapper
  .auth-btn-wrapper
  .authorize {
  font-weight: 400;
}

.swagger-ui .renderedMarkdown code {
  padding: 2px 3px;
}

.swagger-ui textarea {
  font-weight: 400;
  font-size: 14px;
}

.swagger-ui input,
.swagger-ui select {
  padding: 4px 8px !important;
}

.swagger-ui button {
  border-radius: 4px !important;
}

.swagger-ui button + button {
  margin-left: 20px !important;
}
